<footer style="border-top:5px solid #CEA95D;">
  <table
    style="width:100%; text-align:center; padding: 10px; "
    border="0"
    cellspacing="5"
  >
    <tr>
      <td>
        <p>Copyright &copy;
          {{copyright_year}}
          | All Rights Reserved |
          <a href="https://{{domain}}" target="_blank">{{title}}</a></p>
      </td>
    </tr>
    <tr>
      <td>
        <em style="color:#f00; font-size:70%">Note: This is an automated email, please do not
          respond to it. For any queries, please write to
          <b><a
              href="mailto:{{admin_email}}"
              target="_blank"
            >{{admin_email}}</a></b></em>
      </td>
    </tr>
  </table>
</footer>
